.firstNum {
    width: 135px;
    height: 35px;

    padding: 10px;
    background-color: #d7d7d7;

    border: none;
    outline: none;

    border-radius: 20px;

    box-shadow: 3px 4px 0 0 rgb(194, 194, 194);

    display: flex;
    align-items: center;
    justify-content: center;
}

.secondNum {
    width: 135px;
    height: 35px;

    padding: 10px;
    background-color: #d7d7d7;

    border: none;
    outline: none;

    border-radius: 20px;

    box-shadow: 3px 4px 0 0 rgb(194, 194, 194);


    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    width: 62px;
    height: 60px;
    border-radius: 20px;

    margin-left: 50px;
    margin-right: 50px;
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 36px;
}

.equal {
    margin-left: 50px;
    margin-right: 50px;
}

.calculateResult {
    width: 118px;
    height: 35px;

    padding: 10px;
    background-color: #d7d7d7;

    border: none;
    outline: none;

    border-radius: 20px;


    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    /* color: rgba(126, 126, 126, 1); */

    display: flex;
    align-items: center;
    justify-content: center;

}

.buttonAction {
    width: 27px;
    height: 25px;
    padding: 5px, 10px, 5px, 10px;
    border-radius: 20px;
    border: none;
    gap: 10px;

}