header {
   width: auto;
   height: 80px;
   background: #ffffff;
   display: flex;
   align-items: center;
   padding-left: 0;
   /* border: 1px solid black; */
}

header .logo {
   background-image: url(../img/logo.svg);
   width: 93px;
   height: 38.15px;
}

nav ul {
   display: flex;
   justify-content: space-between;
   margin-left: 81px;
   width: 370px;
}

.theme {
   margin-left: 360px;
   width: 185px;
   height: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.theme p {
   font-family: "Montserrat Alternates";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   /* padding-top: 36px; */
}

.switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: url(/img/white.svg);
   width: 20.5px;
   height: 20px;
   /* left: 4px;
    bottom: 4px; */
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: #7a7a7a;
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
   content: url(/img/dark.svg);
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

header .logo {
   margin-left: auto;
}

header .theme {
   margin-right: auto;
}
